


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">   
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="notstyle3.css">
    <link rel="stylesheet" href="notstyle.css">
    <title></title>
</head>
<style>

</style>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <h1><%= person[0].name %></h1>
        <h1><%= person[0].rankme_name %></h1>
        <h1><%= person[0].rankme_score %></h1>
        <h1><%= person[0].rankme_wins %></h1>
        <h1><%= person[0].rankme_losses %></h1>
        <h1><%= person[0].rankme_kills %></h1>
        <h1><%= person[0].rankme_draws %></h1>
        <nav 
        data-aos="fade-right"
        data-aos-offset="300"
        data-aos-easing="ease-in-out"
        data-aos-duration="900"
        id="sidebar">
            <div 
            data-aos="fade"
            data-aos-offset="300"
            data-aos-easing="ease-in-out"
            data-aos-duration="1900"
            class="sidebar-header">
            <a href="/"><img src="img/Electra_Banner.png" alt="" class="nav-logo"></a> <a href="/"><img class="nav-img-2" src="img/Logo.png" alt=""></a>
        </div>

            <ul 
            data-aos="fade"
            data-aos-offset="300"
            data-aos-easing="ease-in-out"
            data-aos-duration="1900"
            class="list-unstyled components">
                <li class="active">
                    <a href="/">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="/leaderboard">
                        <i class="fas fa-table"></i>
                        Leaderboard
                    </a>

                    <a href="/server"">
                        <i class="fas fa-server"></i>
                        Servers
                    </a>
                </li>
               
                <li>
                    <a href="/bans">
                        <i class="fas fa-ban"></i>
                        Ban List
                    </a>
                    <a href="/appeal">
                        <i class="fas fa-check-square"></i>
                        Ban Appeal
                    </a>
                    <a href="/faq">
                        <i class="fas fa-question-circle"></i>
                        FAQ
                    </a>

                    <a href="/Contact">
                        <i class="fas fa-envelope"></i>
                        Contact
                    </a>

                </li>
                <div class="social-row">
                    <a href="https://twitter.com/ElectraLeague"> <li><img class="social-icon-1" src="https://img.icons8.com/color/28/000000/twitter--v1.png"/></li></a>
                       <a href="https://www.twitch.tv/electraleague"> <li><img class="social-icon-2" src="https://img.icons8.com/color/28/000000/twitch--v1.png"/></li></a>
                </div>
            </ul>

            <ul 
            data-aos="fade"
            data-aos-offset="-300"
            data-aos-easing="ease-in-out"
            data-aos-duration="1900"
            class="list-unstyled CTAs">
                <li>
                    <a href="https://discord.gg/BNvNJes" class="download">Join Now</a>
                </li>
            </ul>
        </nav>

        
        <!-- Page Content  -->
        
        <div id="content">
            <nav 
            data-aos="fade"
            data-aos-offset="300"
            data-aos-duration="900"
            data-aos-easing="ease-in-out"
            class="navbar top-nav navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <form action="/user_logout?_method=delete" method="POST">
                        <ul class="nav nav-position navbar-nav ml-auto">
                            <a href="/register"><button type="submit" class="btn-light btn-2 btn-hide">Logout</button></a>
                         </li>
                    </form>
                      
                     </ul>
                </div>
            </nav>    
           <div class="user-container">
            <h1>User profile</h1>
            <h4>Welcome User: <%= username %></h4>
            <form action="/user" method="POST" class="search-container form-container">
                <input class="search-bar"type="text" id="search-bar" name="name" placeholder="Link account with existing player">
                    <input class="search-name" type="submit" value="Search Player">
                      </form>
                      <form action="/user_logout?_method=delete" method="POST">
                        <a href="/register"><button type="submit" class="btn-light logout btn-2">Logout</button></a>
                </form>
           </div>
    </div>
    </div> 
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script>
        AOS.init();
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    </body>
    </html>